body {
    background-color: #000000; /* Черный фон для всего сайта */
    color: #ffffff; /* Белый цвет текста по умолчанию */
    font-family: Arial, sans-serif;
    margin: 0; /* Убираем отступы по умолчанию */
    height: 100vh; /* Устанавливаем высоту тела страницы на 100% высоты экрана */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    margin-bottom: 20px; /* Отступ между счетчиком и игровым полем */
}

canvas {
    background-color: #333333; /* Темный фон для канваса */
    box-shadow: 0px 0px 15px 4px rgba(255, 223, 0, 1);
    display: block;
    margin: 0 auto;
}

span {
    display: inline-block; /* Изменение display для трансформации */
    color: #ffffff; /* Белый текст для ссылок в навигации */
    text-decoration: none;
    margin-right: 15px;
    padding: 10px 15px;
    border-radius: 10px;
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */
    background-color: #333333; /* Темный фон для ссылок */
    box-shadow: 0px 0px 10px 2px rgba(255, 223, 0, 0.7); /* Желтая тень */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Плавный переход для тени и трансформации */
}

span:hover {
    box-shadow: 0px 0px 15px 4px rgba(255, 223, 0, 1); /* Усиление тени при наведении */
    transform: scale(1.3); /* Масштабирование при наведении */
}

.Auth_title {
    color: rgba(255, 223, 0, 1); /* Желтый цвет текста */
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #333333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 2px rgba(255, 223, 0, 0.7);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background-color: #555555;
    box-shadow: 0px 0px 15px 4px rgba(255, 223, 0, 1);
}

.popup {
    display: none; /* Изначально скрываем всплывающее окно */
    position: fixed; /* Фиксированное позиционирование */
    top: 50%; /* Отступ сверху на 50% экрана */
    left: 50%; /* Отступ слева на 50% экрана */
    transform: translate(-50%, -50%); /* Центрирование по вертикали и горизонтали */
    padding: 20px; /* Внутренние отступы */
    background-color: #333; /* Фон всплывающего окна */
    color: #fff; /* Цвет текста */
    border-radius: 10px; /* Скругленные углы */
    box-shadow: 0px 0px 10px 2px rgba(255, 223, 0, 0.7); /* Желтая тень */
    z-index: 1000; /* Обеспечиваем, чтобы всплывающее окно было поверх остальных элементов */
    text-align: center; /* Выравнивание текста по центру */
}

/* Появление окна */
.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* Исчезновение окна */
.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.no-markers {
    list-style-type: none; /* Убирает маркеры и отступы по умолчанию */

}